section.article {
    text-align: justify;
    color: #34495e;
    line-height: 1.6;
    padding-bottom: 100px;
    p, ul, ol {
        line-height: 1.8;
        word-break: break-all;
    }
    ol li{
        margin: 10px 0;
    }
    ul li{
        margin: 10px 0;
    }
    .post-block {
        .post-title {
            margin: 0.65em 0;
            color: #2c3e50;
            font-size: 1.5em;
        }
        .post-info {
            color: #7f8c8d;
            margin: 1.2em 0;
            span {
                margin-left: 0.5rem;
            }
        }
    }
    .post-content {
        h2,
        h3,
        h4,
        h5,
        h6 {
            position: relative;
            margin: 1em 0;
            font-weight: bold;
        }
        h1{
            font-size: 24px;
        }
        h2{
            font-size: 22px;
        }
        h3{
            font-size: 20px;
        }
        h4{
            font-size: 18px;
        }
        h5{
            font-size: 16px;
        }
        h6{
            font-size: 14px;
        }
        a {
            color: #42b983;
            word-break: break-all;
        }
        blockquote {
            margin: 2em 0;
            padding-left: 20px;
            border-left: 4px solid #42b983;
        }
        img {
            display: block;
            max-width: 100%;
            margin: 1em auto;
        }
    }
    code,
    pre {
        font-family: Menlo,Monaco,Andale Mono,lucida console,Courier New,monospace;
        color: #525252;
    }
    li code, p code{
        word-break: break-all;
        background-color: pink;
        font-size: 14px;
        border-radius: 3px;
        padding: 3px 4px;
    }
}
