@import "../mixins";
@mixin editStyle() {
    margin: 0 50px;
    height: calc(100% - 150px);
    width: calc(100% - 100px);
    textarea,
    button,
    article {
        box-sizing: border-box;
        height: 90%;
        float: left;
        // transition: width 0.6s;
        background-color: transparent;
        font-size: 16px;
        line-height: 24px;
        color: #ccc;
    }
    textarea {
        padding: 20px;
        border: none;
        outline: none;
        background-color: rgba(10, 10, 10, 0.6);
    }
    button {
        @include defaultButton(transparent, $baseColor1);
        margin: 0 10px;
        width: 20px;
        padding: 0;
        text-align: center;
        border: 1px solid $baseColor1;
    }
    article {
        background-color: rgba(10, 10, 10, 0.6);
    }
}

section.editor {
    text-align: justify;
    line-height: 1.6;
    p, ul, ol {
        line-height: 1.8;
        word-break: break-all;
    }
    ol li{
        margin: 10px 0;
    }
    ul li{
        margin: 10px 0;
    }
    img{
        display: block;
        max-width: 100%;
        margin: 1em auto;
    }
    @include rightSide();
    textarea {
        resize: none;
        text-align: justify;
        word-break: break-all;
    }
    .title {
        @include defaultInput(400px, 60px);
        display: block;
        text-align: center;
        font-size: 40px;
        margin: 20px auto;
        border-bottom: 2px solid $baseColor1;
    }
    .edit {
        @include editStyle();
        textarea {
            width: calc(100% - 40px);
        }
        article {
            width: 0;
            overflow: hidden;
        }
    }
    .inspect {
        @include editStyle();
        textarea {
            width: calc(50% - 20px);
        }
        article {
            width: calc(50% - 20px);
            overflow: auto;
        }
    }
    .panel {
        margin: 0 50px;
        position: relative;
        height: 30px;
        button.back {
            @include defaultButton();
            position: absolute;
            left: 0;
            height: 30px;
            width: 60px;
            border: 1px solid $baseColor1;
        }
        button.save {
            @include defaultButton();
            position: absolute;
            right: 0;
            height: 30px;
            width: 60px;
            border: 1px solid $baseColor1;
        }
    }
}
