
.wrap {
    min-height: 100vh;
    position: relative;
    background: #fff;
	.myHeader{
		min-height: 60px;
	    .circle {
	        overflow: hidden;
	        cursor: pointer;
	        .icon-fire {
	            font-size: 40px;
	            color: #e53333;
	        }
	    }
	    .naviHead {
	    	line-height: 60px;
	    	height: 60px;
	    	font-size: 18px;
	    	span, a{
				margin-left: 5px;
				color: #000;
	    	}
	    	a{
	    		cursor: pointer;
	    	}
	    	.login-no{
	    		color: #e53333;
	    	}
	    	.login-yes{
	    		color: #3db82f;
	    	}
	    	a:first-of-type{
				margin-left: 10px;
	    	}
            a:hover {
                text-decoration: none;
                border-bottom: 2px solid #42b983;
            }
	    }
	}
}

