
.wrap {
    min-height: 100%;
    position: relative;
    background: linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0) 100%);
	.myHeader{
		min-height: 60px;
	    .circle {
	        overflow: hidden;
	        cursor: pointer;
	        .icon-fire {
	            font-size: 40px;
	            color: #e53333;
	        }
	    }
	    .naviHead {
	    	line-height: 60px;
	    	height: 60px;
	    	font-size: 18px;
	    	span, a{
				margin-left: 5px;
				color: #000;
	    	}
	    	a{
	    		cursor: pointer;
	    	}
	    	.login-no{
	    		color: #e53333;
	    	}
	    	.login-yes{
	    		color: #3db82f;
	    	}
	    	a:first-of-type{
				margin-left: 10px;
	    	}
            a:hover {
                text-decoration: none;
                border-bottom: 2px solid #42b983;
            }
	    }
	}
}

section.index {
    padding-bottom: 160px;
    .registedUsers{
    	>p{
    		font-size: 22px;
    	}
    	>div{
    		font-size: 18px;
    		padding: 20px 0;
    		a{
    			color: #3db82f;
    		}
    	}
    	>ul{
    		list-style: none;
    		padding: 20px 0;
    		li{
    			width: 100px;
    			height: 100px;
    			border-radius: 50%;
				margin: 20px;
				color: #3db82f;
				background: #66cb9d;
				font-size: 30px;
				line-height: 100px;
				text-align: center;
				a{
					display: inline-block;
					width: 100%;
					height: 100%;
					color: #fff;
					overflow: hidden;
				}
				a:hover {
	                text-decoration: none;
	                border: 0px solid #42b983;
	            }
    		}
    	}
    }
}
