@import "../mixins";
section.links {
    @include rightSide();
    color: $baseColor1;
    min-width: 500px;
    .title {
        @include title();
    }
    table {
        width: 800px;
        position: relative;
        @include center();
        tr {
            height: 50px;
            th {
                &:first-of-type {
                    width: 150px;
                }
                &:nth-of-type(2) {
                    width: 60%;
                }
            }
            td {
                text-align: center;
                .check {
                    border: 1px solid #fff;
                    width: 18px;
                    height: 18px;
                    position: relative;
                    display: inline-block;
                    cursor: pointer;
                    // border-radius: 3px;
                    i{
                        font-size: 28px;
                        position: absolute;
                        top: -9px;
                        left: -3px;
                        color: #49e549;
                    }
                    .unChecked{
                        display: none;
                    }
                }
                input {
                    @include defaultInput(60%, 30px);
                    border: 1px solid $baseColor1;
                }
                &:first-of-type {
                    input {
                        max-width: 60px;
                    }
                    i {
                        cursor: pointer;
                        float: left;
                        margin-top: 6px;
                        &:after {
                            content: '';
                            width: 10px;
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
    .panel {
        @include panel();
    }
}
