@import "../mixins";
.icon-fire {
    font-size: 40px;
    cursor: pointer;
}

section.login {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    min-height: 500px;
    display: flex;
    justify-content:center;
    align-items:center;
    .icon-weixian,
    .icon-cuowu {
        font-size: 13px;
    }
    .form {
        // margin-top: -150px;
        // padding: 10px 30px;
        width: 500px;
        // height: 500px;
        // margin: 100px auto;
        // position: absolute;
        // top: 0;
        // left: 50%;
        // transform: translate(-50%, 0);
        >p {
            height: 80px;
            text-align: center;
            color: $baseColor1;
            font-family: $fontYaHei;
            input {
                @include defaultInput(300px, 34px);
                color: $baseColor1;
                border-bottom: 1px solid $baseColor1;
                background-color: transparent;
            }
            button {
                @include defaultButton(transparent, $baseColor1);
                border: 1px solid $baseColor1;
                width: 280px;
                height: 45px;
                // &:hover {
                //     color: $baseColor4;
                // }
            }
            label {
                display: block;
                margin-top: 10px;
                font-size: 12px;
                color: #e53333;
            }
            &:last-of-type {
                span {
                    display: block;
                    color: white;
                    text-align: center;
                    font-size: 14px;
                    margin-top: 20px;
                    a {
                        color: #2cdc0d
                    }
                }
            }
        }
    }
}