header.myHeader {
    min-height: 60px;
    .circle {
        float: left;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;
        margin-right: 30px;
        img {
            width: 60px;
            height: 60px;
        }
    }
    ul {
        float: left;
        margin: 0;
        font-size: 18px;
        li {
            list-style: none;
            display: inline-block;
            padding: 18px 10px;
            a {
                color: #2c3e50;
                cursor: pointer;
            }
            a:hover {
                text-decoration: none;
                border-bottom: 2px solid #42b983;
            }
        }
    }
    .userGiude{
        font-size: 14px;
        position: absolute;
        top: 15px;
        right: 60px;
        span em{
            color: #3db82f;
        }
        a {
            color: #2c3e50;
            cursor: pointer;
        }
        a:hover {
            text-decoration: none;
            border-bottom: 2px solid #42b983;
        }
        .login-no{
            color: #e53333;
        }
    }
}
