@import "../mixins";
.m-dialog {
    font-weight: 100;
    @include shade(19);
    .dialog-wrap{
        background-color: #fff;
        border: 1px solid #6e6e6e;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -150px;
        margin-left: -125px;
        animation: scaleOutIn 0.3s alternate;
        @keyframes scaleOutIn
        {   
            0%  {transform: scale(0.5)}
            50%  {transform: scale(1.2)}
            100% {transform: scale(1.0)}
        }
        .close{
            cursor: pointer;
            position: absolute;
            font-size: 36px;
            color: #717a82;
            top: 0;
            right: 20px;
            transform: rotate(45deg);
        }
        .title{
            background: #f0f5fa;
            color: #46525e;
            border-bottom: 1px solid #dedede;
            height: 50px;
            line-height: 50px;
            font-size: 18px;
            padding-left: 20px;
        }
        .content{
            text-align: center;
            padding: 25px 45px 10px;
            background: #fff;
            min-height: 50px;
            width: 250px;
            overflow: auto;
            white-space: normal;
            word-wrap: break-word;
            word-break: break-all;
            font-size: 16px;
            color: #2b2b2b;
        }
        .button {
            text-align: center;
            background-color: transparent;
            padding: 15px 5px 25px;
        }
    }
    .toast-wrap{
        border: none;
        border-radius: 5px;
        animation: scaleOutIn 0 alternate;
        .close,.title,.button{
            display: none;
        }
        .content{
            padding: 20px 10px;
            font-size: 15px;
            min-height: 0px;
            background: rgba(0,0,0,0.5);
            color: #fff;
        }
    }
}





