
@media screen and (min-width: 701px) {
    header.myHeader {
        padding: 20px 100px;
        margin-bottom: 60px;
    }
    .wrap,
    footer {
        width: 700px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 700px) {
    #main {
        .canvas{
            display: none;
        }
        .dialog-wrap{
            .close{
                top: -7px;
            }
            .title{
                height: 40px;
                line-height: 40px;
                font-size: 15px;
            }
            .content{
                width: 200px;
                padding: 25px 45px 10px;
                min-height: 30px;
            }
            .button{
                padding: 15px 5px 15px;
                .btn{
                    padding: 0px 20px;
                    font-size: 14px;
                }
            }
        }
        header.myHeader {
            padding: 20px 0;
            margin-bottom: 20px;
            div.circle,
            div.circle2,
            ul.menu {
                margin: 10px auto 20px;
                float: none;
                display: block;
                text-align: center;
                padding: 0;
                li {
                    padding: 10px 10px;
                }
            }
            div.naviHead {
                padding-left: 15px;
            }
            .userGiude {
                right: 10px;
                font-size: 12px;
                top: 10px;
            }
        }
        section.index>.latestArticles {
            margin: 0 20px;
        }
        section.index>.registedUsers {
            margin: 0 20px;
            ul li {
                width: calc(0.25*(100vw - 120px));
                max-width: 100px;
                height: calc(0.25*(100vw - 120px));
                max-height: 100px;
                border-radius: 50%;
                box-sizing: border-box;
                margin: 10px;
                // border: 10px solid white;
                font-size: 18px;
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    color: #fff;
                    overflow: hidden;
                }
            }
        }
        .wrap,
        footer {
            width: 100%;
        }
        footer div.copyright {
            height: 40px;
            line-height: 40px;
        }
        section .post-block {
            padding: 0 10px;
        }
        .archive .item {
            padding-left: 20px;
            ul {
                font-size: 14px;
                margin-left: 20px;
                li {
                    padding-left: 0;
                    .date {
                        width: 70px;
                    }
                    .title {
                        // width: calc(100vw - 150px);
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        margin-left: 10px;
                    }
                }
            }
        }
        .login {
            input {
                width: 250px;
            }
        }
        .register {
            position: static;
            .form {
                padding: 60px 15px;
                width: 100%;
                box-sizing: border-box;
                .part {
                    height: 80px;
                    font-size: 13px;
                    padding-right: 0;
                    padding-left: 0;
                    label {
                        position: absolute;
                        width: calc(100vw - 140px);
                    }
                    &>span {
                        box-sizing: border-box;
                        width: 90px;
                        text-align: right;
                    }
                    span.f-fr {
                        float: left;
                    }
                    input {
                        width: calc(100vw - 160px);
                    }
                    #emailCode{
                        width: calc(100vw - 270px);
                    }
                    .sendEmailBtn {
                        // padding: 2px 4px;
                        // margin-top: 3px;
                        position: absolute;
                        right: 20px;
                        top: 4px;
                        line-height: 30px;
                        height: 30px;
                    }
                    div.f-fr {
                        margin-right: 20px;
                    }
                }
                .part:last-child {
                    margin-top: 20px;
                    span {
                        width: 100%;
                        text-align: center;
                        padding-bottom: 10px;
                    }
                }
            }
        }
        .console {
            top: 0;
            height: 100%;
            box-sizing: border-box;
            overflow: scroll;
            padding: 100px 0;
            left: -200px;
            transition: left 0.3s;
            z-index: 20;
            background-color: rgba(158, 158, 158, 0.8);
            .navigation {
                padding-top: 50px;
                position: static;
            }
        }
        .aside-icon {
            z-index: 10;
            position: absolute;
            top: 17px;
            color: #fff;
            left: 20px
        }
        .mask {
            position: fixed;
            display: none;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            background: rgba(0, 0, 0, .8);
            z-index: 15;
        }
        .naviHeader {
            .home {
                margin-left: 50px;
                width: 50px;
                .icon {
                    font-size: 25px;
                }
            }
            .user {
                right: 10px;
                font-size: 14px;
                button {
                    width: initial;
                }
            }
        }
        .articleList {
            width: 100%;
            left: 0;
            button {
                width: 150px;
                height: 40px;
                margin: 30px 0 20px;
                font-size: 15px;
            }
            table {
                width: 94%;
                top:90px;
                th {
                    min-width: 0px;
                    box-sizing: border-box;
                }
                td {
                    font-size: 13px;
                }
                th:nth-child(1) {
                    width: 40%;
                }
                th:nth-child(2) {
                    width: 30%;
                }
                th:nth-child(3) {
                    width: 30%;
                }
                td:nth-child(1) {
                    padding: 0 10px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    max-width: 120px;
                }
                td:nth-child(3) {
                    .icon:after {
                        width: 0px;
                    }
                    .icon:last-child {
                        padding-left: 4px;
                    }
                }
            }
        }
        .editor {
            width: 100%;
            left: 0px;
            .title {
                width: 90%;
                font-size: 20px;
                padding: 0;
            }
            .edit, .inspect {
                margin: 0 auto;
                width: 90%;
                textarea, article{
                    font-size: 13px;
                    padding: 0px;
                }
            }
            .edit {
                textarea{
                    width: calc(100% - 30px);
                } 
                article{
                    padding: 0;
                }
                .toggle{
                    margin-left: 10px;
                    margin-right: 0px;
                }
            }
            .inspect{
                textarea{
                    width: 0;
                    padding: 0;
                }
                article{
                    width: calc(100% - 30px);
                }
                .toggle{
                    margin-left: 0px;
                    margin-right: 10px;
                }
            }
            .panel{
                input{
                    margin-top:-2px;
                    width: 120px;
                }
                .back, .save{
                    width: 70px;
                    font-size: 14px;
                }
            }
            article{
                ol, p, ul{
                    font-size: 13px;
                }
                h1{
                    font-size: 20px;
                    line-height: 1.5;
                }
                h2{
                    font-size: 18px;
                    line-height: 1.5;
                }
                h3{
                    font-size: 16px;
                    line-height: 1.5;
                }
                h4{
                    font-size: 14px;
                    line-height: 1.5;
                }
                h5{
                    font-size: 14px;
                    line-height: 1.5;
                }
                h6{
                    font-size: 14px;
                    line-height: 1.5;
                }
            }
        }
        .links{
            width: 100%;
            left:0;
            min-width: 0px;
            .title{
                width: 100%;
                font-size: 20px;
                margin: 30px 0 20px;
            }
            table{
                width: 100%;
                th{
                    font-size: 15px;
                }
                td{
                    font-size: 13px;
                }
                th:nth-child(1) {
                    width: 35%;
                }
                th:nth-child(2) {
                    width: 45%;
                }
                th:nth-child(3) {
                    width: 20%;
                }
                td:nth-child(1) {
                    box-sizing: border-box;
                    .icon:after{
                        width: 0;
                    }
                    input{
                        max-width: 1000px;
                        width: calc(100% - 80px);
                    }
                    padding-left: 10px;
                }
                td:nth-child(2) {
                    text-align: right;
                    input{
                        width: 80%;
                    }
                }
            }
            .panel{
                padding-right: 0;
                text-align: center;
                padding-bottom: 20px;
                button{
                    height: 40px;
                    width: 220px;
                    font-size: 16px;
                }
            }
        }
        .account{
            width: 100%;
            left: 0;
            .title {
                width: 100%;
                font-size: 20px;
                padding: 0;
                margin: 30px 0 20px;
            }
            .password{
                margin: 20px auto 40px auto;
                padding-right: 0;
                text-align: center;
                width: 80%;
                li>input{
                    width: 70%;
                    margin: 20px auto;
                }
            }
            .panel1{
                padding-right: 0;
            }
            .panel2{
                position: static;
                padding-left: calc(100vw - 90px);
                margin-bottom: 20px;
                width: 70px;
                font-size: 14px;
                padding-right: 0;
            }
        }
    }
}












